#wrapper {
    margin: 1em auto;
    width: 1200px;
    border: 3px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    grid-column: span 12;
    background-color: aquamarine;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
}

nav {
    grid-column: span 4;
}

#top {
    margin-top: 10px;
}

#bottom {
    margin-bottom: 10px;
}

nav li a {
    display:inline-block;
    list-style-type: none;
    width: 200px;
    padding: 20px;
    background-color: aquamarine;
    font-weight: bold;
    text-align:center;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: -40px;
    font-size: 25px;
    margin-right: 50px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

main {
    grid-column: span ;
}

main img {
    padding-left: 300px;
    padding-top: 8px;
    height: 500px;
}

footer {
    grid-column: span 12;
    color: whitesmoke;
    background-color: gray;
    padding: 10px;
    font-size: 20px;
}


nav li a:hover {
    background-color: grey;
    color: white;
}

footer a {
    color: white;
}